body {
    font-family: Arial;
    background: #121212;
    color: white;
    text-align: center;
}

.container {
    padding: 20px;
}

.card {
    background: #1f1f1f;
    padding: 20px;
    margin: 15px auto;
    border-radius: 10px;
    width: 350px;
}

input, button {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
}

button {
    background: #00c853;
    color: white;
    cursor: pointer;
}

button:hover {
    background: #00e676;
}

.row-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.team-box {
    background: #222;
    padding: 15px;
    margin: 10px;
    border-radius: 8px;
    width: 200px;
}
